@model StudentManagementProject.Models.Student

<h2>Student Details</h2>

<p>ID: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Age: @Model.Age</p>
<p>Email: @Model.Email</p>

@if (TempData["Message"] != null)
{
    <p style="color:green">@TempData["Message"]</p>
}