@model List<CompanyEmployees.Models.EmployeeModel>

<h2>Employee List</h2>

<a asp-action="Create">Add Employee</a>

<table border="1" class="table">

    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Designation</th>
            <th>Company</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.EmployeeId</td>
                <td>@emp.Name</td>
                <td>@emp.Age</td>
                <td>@emp.Designation</td>
                <td>@emp.Company.CompanyName</td>
            </tr>
        }
    </tbody>

</table>